#recordTable td{
  position: relative;
}

.circle::after{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:22px;
  height:22px;
  border:3px solid red;
  border-radius:50%;
  transform:translate(-50%,-50%);
}

.connect-top::before{
  content:"";
  position:absolute;
  top:-18px;
  left:50%;
  width:3px;
  height:18px;
  background:red;
  transform:translateX(-50%);
}
