table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th, td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

.circle {
  border: 2px solid red !important;
  border-radius: 50%;
}

.v-line {
  border-left: 4px solid red !important;
}
