table { border-collapse: collapse; width: 100%; font-size: 12px; }
td, th { border:1px solid #ccc; padding:4px; text-align:center; }

.circle {
  border:2px solid red;
  border-radius:50%;
}

.line {
  border-left:3px solid red;
}

.check-line {
  background:#e8ffe8;
  margin:5px;
  padding:6px;
  cursor:pointer;
}
.check-line.active { background:#b8ffb8; }
