body { font-family: Arial; padding:10px; }
table { width:100%; border-collapse:collapse; }
th,td { border:1px solid #ccc; padding:6px; text-align:center; }

.editable { background:#eef; cursor:text; }

.check-line {
  background:#eaffea;
  margin:6px 0;
  padding:6px;
  border-left:5px solid green;
  cursor:pointer;
}

td.circle { position:relative; }
td.circle::after{
  content:"";
  position:absolute;
  top:50%; left:50%;
  width:22px; height:22px;
  border:3px solid red;
  border-radius:50%;
  transform:translate(-50%,-50%);
}
